.App {
  text-align: center;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}
.magazine {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.magazine .page {
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.15);
}

.magazine .page img {
  max-width: 100%;
}
.display-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  background-color:#F9F9F9;
}
.display-nav{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 30px;
  padding-left: 50px;
  position: absolute;
  top: 60px;
  left: 0;
}
.header, .play-ground, .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}
.play-ground-container{
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.play-ground{
 width: 50vw;
 height:50vw;
 transform: scale(1.4);
 position: absolute;
 top: 45px;
 left: 22%;
 display: block;
 /* border: 1px solid #363D61; */
 border-radius: 50%;
}
.play-ground-text{
  /* border: 1px solid rgb(8, 8, 66); */
  position: absolute;
  bottom: 0;
  width: 92%;
  padding: 5px 20px;
  z-index: 9;
}
.page-area{
 /* width: 500px;
 height: 400px; */
 width: 243px;
 height: 370px;
 /* border: 1px solid #363d6118;
 background-color: white; */
 margin: 0 auto;
 position: absolute;
 top: 175px;
 left: 250px;
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 display: flex;
 justify-content: center;
 align-items: center;
}
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 100px);
  gap: 30px;
}
.button__container {
  height: 44px;
  background: #ff3e3e;
  border-radius: 22px;
  transition: height .2s;
  overflow: hidden;
  width: 100px;
}

.button__head {
    position: relative;
    height: 44px;
    padding: 0 18px;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.button__title{
  display: flex;
  align-items: center;
}
.menu__stroke{
  animation: menu-rotation 18s linear infinite;
  animation-play-state: paused;
  opacity: 0.1;
  position: relative;
  bottom: 28px;
  right: 2px;
}

.menu__stroke:hover{
  animation-play-state: running;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  opacity: 1;
}

.menu__preview {
  display: block;
  position: relative;
  top: 10px;
  width: 44px;
  height: 44px;
  border: 2px solid transparent;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.menu-up{
  animation: menu-button-up .375s cubic-bezier(.37,0,.63,1) forwards;
}
.menu-down{
  animation: menu-button-down .375s cubic-bezier(.37,0,.63,1) forwards;
}

@keyframes menu-button-up {
  0%, 33%, 66%, 100% {
    opacity: 1;
    border-color: #ff3e3e;
    box-shadow: 0 0 0 2px #ff3e3e, 0 16px 19px rgb(166 99 99 / 28%);
 }
 0% {
  transform: scale(.8);
}
33% {
  transform: scale(1.05);
}
66% {
  transform: scale(.98);
}
100% {
  transform: scale(1);
}
} 

@keyframes menu-button-down {
  0%, 100% {
    width: 40px;
    height: 40px;
    opacity: 1;
    border: 4px solid #ff3e3e;
 }
 100% {
  transform: scale(.8);
}
0% {
  transform: scale(.98);
}
}

@keyframes menu-rotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(1turn);
  }
}
.menu{
  padding: 50px;
}
.menu .menu__item{
  display: flex;
  margin-bottom: 20px;
}
.menu--pages .menu__item .menu__title {
  order: 1;
}
.menu--pages .menu__item .menu__preview {
  order: 2;
}
.menu--properties .menu__item .menu__preview {
  margin-right: 20px;
}
.menu--pages .menu__item .menu__preview {
  margin-left: 20px;
}
.menu--pages{
  height: 400px;
  overflow-y: scroll;
  padding-top: 0;
  margin-top: 50px;
  position: absolute;
  right: 0;
}
.menu__title{
  opacity: 0.1;
  position: relative;
  top: 25px;
  color: #363D61;
}
.menu--sex{
  display: flex;
  width: 150px;
  justify-content: space-around;
  z-index: 9;
  /* background-color: beige; */
}
.menu__icon{
  position: relative;
  top: 9px;
  opacity: 0.6;
}
.filter{
  filter: invert(43%) sepia(86%) saturate(2333%) hue-rotate(334deg) brightness(96%) contrast(108%);
  opacity: 1;
}
.none{
  display: none;
}
.title{
  opacity: 1;
}

.popup__container {
  width: 224px;
  background: #fff;
  box-shadow: 0 16px 19px rgb(166 99 99 / 15%);
  border-radius: 8px;
  opacity: 0;
  transform-origin: calc(100% - 20px) 20px;
  transform: scale(0);
  transition: opacity .175s cubic-bezier(.32,0,.67,0),transform .175s cubic-bezier(.32,0,.67,0);
}

.popup__container.visible {
  opacity: 1;
  transform-origin: 0 0;
  transform: scale(1);
  transition: opacity .35s cubic-bezier(.83,0,.17,1),transform .35s cubic-bezier(.83,0,.17,1);
}
.popup__head {
  display: flex;
  height: 40px;
  padding: 0 16px;
  border-bottom: 1px
solid rgba(221,218,220,.5);
  font-size: 12px;
  font-weight: 600;
  align-items: center;
  cursor: move;
}
.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  cursor: pointer;
}
.popup{
  position: absolute;
  top: 380px;
  left: 80px;
}
.popup--backdrops .popup__body {
  max-height: 280px;
  color: transparent;
  transition: color .2s;
  overflow: auto;
}
.backdrops {
  display: flex;
  max-width: 212px;
  padding: 16px 4px 16px 0;
  flex-wrap: wrap;
}
.backdrops__item {
  position: relative;
  height: 66px;
  width: 87px;
  margin: 0 0 16px 16px;
  background: rgba(221,218,220,.25);
  border-radius: 4px;
  transition: box-shadow .2s;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 16px);
  cursor: pointer;
}
.backdrops__item input{
  background: rgba(221,218,220,.25);
  height: 66px;
  width: 87px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select img';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  height: 66px;
  width: 87px;
  display: flex;
  align-items: center;
  color: #363D61;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.backdrops__item.active {
  box-shadow: 0 0 0 4px #ff3e3e;
}
.backdrops__item.active:hover {
  box-shadow: 0 0 0 4px #ff3e3e;
}
.backdrops__item:hover {
  box-shadow: 0 0 0 4px #363d61a4;
}
.backdrops__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button{
  background-color: transparent;
  border: none;
}
.remix__prev {
  left: -30px;
  border-radius: 8px 0 0 8px;
  transform: translateX(32px);
}
.remix__prev svg {
  transform: rotate(180deg);
}
.remix__next {
  right: -30px;
  border-radius: 0 8px 8px 0;
  transform: translateX(-32px);
}
.remix__next, .remix__prev {
  position: absolute;
  top: 8px;
  bottom: 8px;
  width: 30px;
  background: #ff3e3e;
  font-size: 0;
  transition: transform .2s;
  z-index: -2;
}
.remix__next:hover, .remix__prev:hover {
  opacity: 0.8;
}
.remix__item {
  position: relative;
  z-index: 9;
  background-color: teal;
}
.remix__wrapper {
  padding: 8px 16px;
  background: #fff;
}
.remix__preview {
  position: relative;
  height: 48px;
  background-color: #f4f4f5;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 4px;
  transition: box-shadow .2s;
  overflow: hidden;
  display: flex;
  align-items: center;
}
/* .remix__item:first-child .remix__pic { */
  /* top: -36%; */
  /* width: 240%; */
  /* height: 50px; */
/* } */

.remix__pic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.remix {
  padding: 8px 0;
}
.remix-div{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.remix__item.active .remix__next, .remix__item.active .remix__prev {
  transform: translateX(0);
}
.remix__item.active .remix__preview {
  box-shadow: 0 0 0 4px #ff3e3e;
}







.login_div{
  background-color:#F9F9F9;
  width: 100vw;
  height: 100vh;
}
.error{
  color: #ff3e3e;
  text-align: left;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  z-index: 9;
}

.login-box h2 {
  margin: 0 0 40px;
  padding: 0;
  color: #000;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000;
  font-size: 12px;
}

.link {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ff3e3e;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.link:hover {
  background: #ff3e3e;
  color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 0 5px #ff3e3e,
              0 0 25px #ff3e3e,
              0 0 50px #ff3e3e,
              0 0 100px #ff3e3e; */
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff3e3e);
  animation: btn-anim1 2s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff3e3e);
  animation: btn-anim2 2s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ff3e3e);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff3e3e);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.5s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.library{
  /* background-color:#F9F9F9; */
  height: 100vh;
}
.library_nav{
  padding: 50px;
}
.library_div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px;
}
.book-container {
  text-decoration: none;
  color: #000;
  perspective: 600px;
  margin: 50px 20px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 200px;
  height: 300px;
  margin-bottom: 40px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
  transform: rotateY(-30deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 200px;
  height: 300px;
  transform: translateZ(25px);
  background-color: white;
  border-radius: 0 2px 2px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 3px;
  width: 48px;
  height: 294px;
  transform: translateX(172px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 200px;
  height: 300px;
  transform: translateZ(-25px);
  background-color: grey;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px rgba(0, 0, 0, 0.281);
}

@media (max-width: 767px) {
  .footer{
    width: auto;
    gap: 10px;
  }
  .App {
    position: static;
    overflow: auto;
  }
  .page-area{
    width: 60vw;
    position: static;
    height: 40vh;
    background-size: contain;
    background-position: center;
  }
  .play-ground{
    padding: 0;
    height: 40vh;
    width: 60vw;
    top: auto;
    left: 20%;
    bottom: 150px;
    border-radius: 0%;
  }
  .menu{
    display: flex;
    height: auto;
    margin-top: 0;
  }
  .menu .menu__item{
    display:block;
    margin-right: 20px;
  }
  .menu--properties{
    padding: 0;
    padding-left: 50px;
  }
  .menu--pages{
    padding: 0;
    margin-right: 30px;
    padding-left: 15px;
  }
  .menu--properties .menu__item .menu__preview, .menu--pages .menu__item .menu__preview{
    margin: 0;
  }
  .home-div{
    position: relative;
  }
}